@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  list-style: none;
}

body {
  background-image: url(./img/map.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

h1 {
  color: #fff;
  margin-top: 7px;
}
h2 {
  color: #cecece;
  margin: 20px 0;
  font-weight: 500;
}

.wrapper {
  border: 1px solid #cecece;
  background-color: #000;
  
  
}

ul {
  display: flex;

}

li {
  margin: 0 10px;
  color: #fff;
  
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid #000;
  background-color: #fff;
  width: 50%;
  margin-top: 50px;
  padding: 20px;
  border-radius: 7px;
}

input {
  margin: 30px 0;
  width: 50%;
  height: 5vh;
  padding-left: 10px;
}

p {
  text-align: center;
  width: 100%;
  font-size: 20px;
  font-weight: 300;
}

button {
  width: 50%;
  height: 7vh;
  margin: 20px 0;
  font-size: 20px;
  font-weight: 500;
  background: rgb(34,99,195);
  background: linear-gradient(0deg, rgba(34,99,195,0.9220063025210083) 0%, rgba(45,129,253,0.7063200280112045) 100%);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  color: #fff;
}
button:hover {
  opacity: .7;
}
button:active {
  opacity: .4;
}

@media screen and (max-width: 960px) {

  body {
    height: 200vh;
  }
  ul {
    display: flex;
    flex-direction: column;
  }

  h1, h2 {
    margin: 10px;
    text-align: center;
  }

  button, input {
    font-size: 15px;
    width: 100%;
  }


}